@use './mixins';

/* Reset */
/* === NEW Reset by Kevin Powell === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}

[role='list'] {
  list-style: none;
  margin-block-end: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* Global Styles */
html,
body {
  background: var(--clr-background);
  margin: 0;
}

p {
  font-family: var(--ff-body);
  @include body-1;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-family: var(--ff-heading);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: rem(50);
  line-height: rem(50);
  letter-spacing: rem(-0.45);
}

h2 {
  font-weight: var(--fw-bold);
  font-size: rem(40);
  line-height: rem(42);
  letter-spacing: rem(-0.36);
}

h3 {
  font-weight: var(--fw-regular);
  font-size: rem(32);
  line-height: rem(36);
  letter-spacing: rem(-0.29);
}
